{% extends "base.html" %}

{% block title %}{{ NIUX2_404_TITLE_TRANSL | default("ERROR 404 Page Not Found!") }} - {{ super() }}{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
<div class="niu2-404-info">
	{{ NIUX2_404_INFO_TRANSL | default("The requested url was not found!") }}
</div>
	<center>
		<br/><img src="/images/404/beiju.jpg" />
		<br/><img src="/images/404/lr.gif" width="50px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="/images/404/beiju1.gif" width="60px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="/images/404/beiju2.gif" width="60px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="/images/404/beiju3.gif" width="60px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="/images/404/rl.gif" width="50px" />
	</center>
</div>
{% endblock content %}
